@model Class

@{
	ViewData["Title"] = "Delete Class";
}

<h1 class="display-6">Delete Class</h1>

<ul class="list-group mb-3">
    <li class="list-group-item">
        <strong>@Model.Title</strong> (@Model.Number)
    </li>
    <li class="list-group-item">
        Teacher: @Model.Teacher.FullName
    </li>
    <li class="list-group-item">
        Day and Time: @Model.Day.Name @Model.MilitaryTime
    </li>
</ul>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="ClassId" />
    <button type="submit" class="btn btn-danger">Delete</button>
    <a asp-action="Index" asp-controller="Home" class="btn btn-outline-dark">Cancel</a>
</form>
